.navbar{
    background-color: #C8F2EF;
    display: flex;
    flex-direction: row;
    
}

.leftSide{
    flex: 5%;
    height: 100%;
    display: flex;
    align-items: left;
    padding-left: 10px;
    
}
h2{
    margin-top: 4%;
    padding-left: 2%;
}

.rightSide{
    flex: 5%;
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    padding-top: 1%;
    padding-right: 2%;
}

.header-links{
    background-color: rgb(99, 156, 156);
    display: flex;
}

ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 50px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

.search{
    flex: 5%;
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    padding-top: 1.5%;
    padding-right: 1%;
}